{{> organisms-header }}
<main role="main">

	<div class="l-container u-margin-bottom-large">
		{{> molecules-progress-tracker }}
		{{> molecules-page-header }}
		{{> organisms-stripe-list }}
		<div class="c-text-passage l-linelength-container u-margin-bottom-large">
			{{> organisms-text-passage }}
		</div>
		{{> organisms-button-group }}
	</div>

</main>
{{> organisms-footer }}
