<footer class="c-footer" role="contentinfo">

	<div class="c-footer__inner l-container">

		{{# footerLogo }}
		{{> molecules-logo }}
		{{/ footerLogo }}

		{{> molecules-footer-nav }}

	</div><!--end l-container-->

</footer><!--end c-footer-->
