/*------------------------------------*\
    #PAGINATION
\*------------------------------------*/
/**
 * Pagination
 */
.c-pagination {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	overflow: hidden;
	margin-bottom: 1rem;
}

.c-pagination__item {
	border-right: 1px solid $color-neutral-gray-13;

	&:last-child {
		border: 0;
	}
}

.c-pagination__link {
	padding: 1rem;

	.c-pagination__item:first-child & {
		padding-left: 0;
	}

	.c-pagination__item.is-active & {
		font-weight: bold;
		pointer-events: none;
	}

	.c-pagination__item.is-disabled & {
		color: $color-neutral-gray-13;
		pointer-events: none;
	}
}
