<a href="{{ url }}" class="c-hero">

	<img src="{{ src }}" alt="{{ alt }}" class="c-hero__img" />
	<div class="c-hero__body">
		<h2 class="c-hero__headline">{{ headline }}</h2>
	</div>

</a><!-- end c-hero-->
